<!DOCTYPE html>
{% load static %}
<html>
  <div class="background-pic" style="background-image: url('/static/images/background.{{ thisBgPic }}.jpg'); background-repeat: repeat;">

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Cabin|Ropa+Sans&display=swap" rel="stylesheet">
  </head>
    <header class="header">
      <div class="page-header">
        <h1><a href="/">My Weather</a></h1>
      </div>
    </header>

    <body class="body">
      <div class="page-middle-box">
        <div class="page-main">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </body>
    <footer>
      <p>
        MyWeatherApp 1.0 | Built on <a href="https://www.python.org/"><img src="/static/images/python-logo.png" width="75px" style="vertical-align:middle"></a> and <a href="https://www.djangoproject.com/"><img src="/static/images/django-logo.png" width="55px" style="vertical-align:middle"></a> | Powered by <a href="https://www.postgresql.org/"><img src="/static/images/postgres-logo.png" width="75px" style="vertical-align:middle"></a>
      </p>
    </footer>
    <br>
  </div>
</html>
